/* You can customize theme styles here */
html body ::selection {
  background-color: #0465ba;
}

.header .navbar-brand span:first-child {
  color: #0465ba;
}

.experience__company {
  color: #0465ba;
}